.header {
  display: grid;
  grid-template-columns: 20% 1fr;
  align-content: center; /* Each section in the grid will be aligned center */
  font-weight: bold;
  font-size: 20px;
}

.header__logo {
  align-self: center;
  justify-self: center;
}

#logo {
  transition: all 0.5s ease-out;
}

#logo:hover {
  transform: perspective(400px) translate3d(-10px, 0px, -10px) scale(0.93);
}

.header__letter {
  font-size: 30px;
  color: #6a4a39;
}

.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  opacity: 0.7;
  list-style: none;
  font-size: 20px;
  color: #000000;
}

.menu__item {
  margin: 0 47px;
  position: relative;
}

.menu__item::after {
  content: '';
  display: block;
  position: absolute;
  background-color: #6a4a39;
  width: 100%;
  height: 3px;
  visibility: hidden;
  transform: scale(0);
  transform-origin: left;
  transition: 0.2s ease-out;
}

.menu__item:hover::after {
  visibility: visible;
  transform: scale(1);
}

.menu__item:last-of-type {
  color: #ff7676;
  border-bottom: 4px solid #f8d1be;
}

.container {
  max-width: 1500px;
}

.hero__container {
  position: relative;
  min-height: 550px;
  display: grid;
  grid-template-areas:
    'lamp title sun sun'
    'lamp title sun sun';
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, minmax(0px, auto));
  border-bottom: 1px solid #ff8989;
}

.lamp {
  grid-area: lamp;
  height: auto;
  justify-self: end;
  align-self: end;
  position: absolute;
  bottom: -350px;
}

#wavw1,
#wave3,
#wave5 {
  opacity: 0.8;
}

#waves {
  justify-self: end;
  max-width: 1500px;
  width: 100%;
  grid-column: 1/5;
  align-self: end;
  grid-row: 2/2;
}

.container__sun {
  grid-area: sun;
  align-self: end;
  justify-self: start;
}

.container__sun img {
  min-width: 200px;
  max-width: 400px;
  width: 100%;
}

#planes {
  width: 100%;
  transform-style: preserve-3d;
  grid-area: sun;
  justify-self: end;
  align-self: end;
}

.hero__cta {
  grid-area: title;
  justify-self: end;
  align-self: center;
}

.cta_title {
  font-size: 60px;
  line-height: 69px;
  font-weight: bold;
}

.cta_description {
  font-size: 20px;
  color: #333333;
  margin-bottom: 2rem;
}

.cta_btn {
  width: 200px;
  height: 44px;
  position: absolute;
  bottom: -23px;
  cursor: pointer;
  background: rgb(51, 51, 51);
  box-shadow: rgba(255, 163, 148, 0.1) 0px 5px 10px;
  border: none;
  border-radius: 5px;
  font-family: Alegreya;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  transition: all 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.cta_btn:hover {
  transform: translateY(-3px);
  opacity: 0.7;
}

/* Section two */

.two {
  background: #fff;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/780593/Group%202-1.png');
  background-repeat: no-repeat;
  background-position: 35% 0;
  background-size: cover;
}

.news_container {
  display: grid;
  grid-template-columns: repeat(6, minmax(100px, auto));
  grid-template-rows: repeat(6, 320px);
  grid-gap: 20px;
}

.large_plane {
  width: 100%;
  max-width: 700px;
  min-width: 300px;
  grid-column: 2/5;
  grid-row: 1/3;
  align-self: center;
  justify-self: center;
}

.large_plane img {
  width: 100%;
}

.luggage {
  grid-column: 5/7;
  grid-row: 1/3;
  min-width: 300px;
  justify-self: center;
  align-self: center;
}

.luggage img {
  width: 100%;
}

.fly_container {
  max-width: 1000px;
  width: 100%;
  grid-column: 2/7;
  grid-row: 2/6;
  align-self: center;
  justify-self: end;
}

.stairs {
  max-width: 300px;
  grid-column: 1/4;
  grid-row: 3/5;
  align-self: center;
  justify-self: center;
}

.path {
  visibility: hidden;
}

.news {
  max-width: 265px;
}

.news h3 {
  font-weight: bold;
  line-height: 35px;
  font-size: 30px;
}

.news p {
  font-size: 20px;
  margin-top: 50px;
}

.news_1 {
  grid-column: 2/3;
  grid-row: 2/4;
  align-self: center;
  justify-self: center;
}

.news_2 {
  grid-column: 5/7;
  grid-row: 2/4;
  align-self: start;
  justify-content: center;
  margin-top: 5.5rem;
}

.news_3 {
  grid-column: 3/4;
  grid-row: 5/7;
  align-self: center;
  justify-self: center;
}

.furniture {
  grid-column: 4/6;
  grid-row: 5/7;
  justify-self: start;
  align-self: center;
}

.furniture img {
  width: 100%;
}

.fly_right {
  opacity: 0;
  transform-origin: center center 0px;
  transform: translate(-500px, 300px);
  animation-name: fly_right;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  animation-delay: 0.8s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation: fly_right 3s ease-out 0.8s 1 forwards; /* Shorthand */
}

@keyframes fly_right {
  10% {
    opacity: 1;
  }
  100% {
    transform: perspective(800px) translateZ(-3em) translateX(-200px) scale(2);
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .header {
    grid-template-columns: 1fr;
    padding: 45px;
  }

  .menu__item {
    display: none;
  }

  .hero__container {
    grid-template-areas:
      'title'
      'sun';
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .hero__cta {
    justify-self: center;
    align-self: end;
    margin-top: 4rem;
  }

  .cta_title {
    font-size: 40px;
    text-align: center;
  }

  .cta_description {
    max-width: 280px;
  }

  .cta_btn {
    position: relative;
    width: 100%;
  }

  .container__sun {
    justify-self: center;
  }

  .container__sun img {
    max-width: 600px;
  }

  #planes {
    display: none;
  }

  .news_container {
    grid-template-columns: 1fr 1fr;
    margin: 0px 20px;
  }

  .large_plane {
    display: none;
  }

  .luggage {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  .fly_container {
    grid-column: 1/3;
    grid-row: 4;
    width: 600px;
    align-self: center;
    justify-self: center;
  }

  .fly_container svg {
    height: 500px;
    max-width: 600px;
  }

  .stairs {
    display: none;
  }

  .news_1 {
    grid-column: 2;
    grid-row: 3;
    margin-top: 0;
  }

  .news_2 {
    grid-column: 1;
  }

  .news_3 {
    grid-column: 1;
  }

  .furniture {
    grid-column: 2;
  }
}

@media (max-width: 420px) {
  .two {
    background-position: center;
  }

  .news_container {
    display: flex;
    flex-direction: column;
  }

  .news_container * {
    justify-self: center;
    align-self: center;
  }

  .luggage {
    margin-top: 15rem;
  }

  .fly_container svg {
    height: 300px;
  }
}

@media (max-width: 960px) {
  .lamp {
    display: none;
  }
}
